
$lendinghub-red: #FF0000
    
.navbar-menu 
    flex-grow: 0

.navbar > .container 
    justify-content: space-between

.navbar
    box-shadow: 0px 3px 6px #00000029
    .container
        padding: 0 
    .navbar-burger 
        margin-left: 0
    .navbar-menu .navbar-item
        border-bottom: 2px solid #FFFFFF
        &:hover 
            color: $lendinghub-red
            // font-family: 'Poppins Bold'
            border-bottom: 2px solid $lendinghub-red

        


.content ul 
    margin-left: 0em

.footer 
    .logo
        margin-bottom: 4rem;
    .menu-list a 
        padding: 0.3rem 0;
    .heading-container 
        margin-bottom: 2rem
        a 
            font-family: 'Poppins Bold'
        hr
            width: 171px
            background-color: #707070
            height: 1px
            margin: 0
    @media screen and ( max-width: 786px )
        .logo
            margin-bottom: 0


